@import "tailwindcss";

@font-face {
  font-family: "Helvetica LT Std";
  src: url("/Fonts/HelveticaLTStd-Roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica LT Std";
  src: url("/Fonts/HelveticaLTStd-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica LT Std Condensed";
  src: url("/Fonts/HelveticaLTStd-Cond.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica LT Std", sans-serif;
}


:root {
  /* main colors */
  --primary-color: #e5a812;
  /* text colors */
  --white: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #303133;

}


/* ################ antdesign Custom CSS start ################ */

/* Remove antd background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}


/* antd modal */
.custom-modal .ant-modal-content {
  padding: 5px;
  margin-top: -80px;
  background-color: #e2e2e2;
}

.custom-modal .ant-modal-close {
  top: 15px;
}

/* antd Tabs */

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary-color) !important;
}

.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: var(--primary-color) !important;
}

.ant-tabs-ink-bar {
  background-color: var(--primary-color) !important;
}

.ant-tabs-tab
{
  margin: 0 0 0 14px!important;
}

.ant-tabs .ant-tabs-tab .anticon:not(:last-child) {
  margin-right: 0px!important;
}


/* ################antdesign Custom CSS ends ################ */


